mixin date-dropdown_period(name, id, label)
    label(for="id").label.input__label= label
    input(type="text" id="" name=name
        placeholder="ДД.ММ.ГГГ"
        data-range="true"
        data-multiple-dates-separator=" - "
        data-toggle-selected="false"
        spellcheck="false").input.input__dropdown.input_narrow.datepicker-here.input_narrow

mixin date-dropdown(name_1, label_1, name_2, label_2)
    .date-dropdown__container
        .date-dropdown__item
            label.label.input__label= label_1
            input(type="text" name=name_1 placeholder="ДД.ММ.ГГГГ" spellcheck="false").datepicker-here.date-period-picker__item.input.input__dropdown.date-dropdown__input
        .date-dropdown__item
            label.label.input__label= label_2
            input(type="text" name=name_2 placeholder="ДД.ММ.ГГГГ" spellcheck="false").datepicker-here.date-period-picker__item.input.input__dropdown.date-dropdown__input


