label(for="filter-date-dropdown").label.input__label Filter Date Dropdown
input(type="text" id="filter-date-dropdown" name="filter-date-dropdown"
    placeholder="ДД.ММ.ГГГ"
    data-range="true"
    data-multiple-dates-separator=" - "
    data-toggle-selected="false"
    spellcheck="false").input.input__dropdown.input_narrow.datepicker-here.input_narrow
