// Date-dropdown period
label(for="DatesOfStay").label.input__label Даты пребывания в отеле
input(type="text" id="DatesOfStay" name="DatesOfStay"
    placeholder="ДД.ММ.ГГГ"
    data-range="true"
    data-multiple-dates-separator=" - "
    data-toggle-selected="false"
    spellcheck="false").input.input__dropdown.input_narrow.datepicker-here.input_narrow

// Date-dropdown with 2 dates
.date-dropdown__container
    .date-dropdown__item
        label(for="checkIn").label.input__label Прибытие
        input(type="text" id="checkIn" name="checkOut" placeholder="ДД.ММ.ГГГГ" spellcheck="false").datepicker-here.date-period-picker__item.input.input__dropdown.date-dropdown__input

    .date-dropdown__item
        label(for="checkOut").label.input__label Выезд
        input(type="text" id="checkOut" name="checkIn" placeholder="ДД.ММ.ГГГГ" spellcheck="false").datepicker-here.date-period-picker__item.input.input__dropdown.date-dropdown__input

