.date-dropdown__container
    .date-dropdown__item
        label(for="name_1").label.input__label  Date Dropdown
        input(type="text"
            name="name_1"
            id="name_1"
            placeholder="ДД.ММ.ГГГГ"
            spellcheck="false").datepicker-here.date-period-picker__item.input.input__dropdown.date-dropdown__input
    .date-dropdown__item
        label(for="name_2").label.input__label Date Dropdown
        input(type="text" name="name_2" id="name_2"
            placeholder="ДД.ММ.ГГГГ"
            spellcheck="false").datepicker-here.date-period-picker__item.input.input__dropdown.date-dropdown__input

