form(action="search-room.html" method="").card
    +title("Найдём номера под ваши пожелания")
    .card__fieldset
        .date-dropdown__container
            .date-dropdown__item
                label(for="check-in").label.input__label Прибытие
                input(type="text"
                    name="check-in"
                    id="check-in"
                    placeholder="ДД.ММ.ГГГГ"
                    spellcheck="false").datepicker-here.date-period-picker__item.input.input__dropdown.date-dropdown__input
            .date-dropdown__item
                label(for="check-out").label.input__label Выезд
                input(type="text" name="check-out" id="check-out"
                    placeholder="ДД.ММ.ГГГГ"
                    spellcheck="false").datepicker-here.date-period-picker__item.input.input__dropdown.date-dropdown__input
    .card__fieldset
        +label("Гости")
        .dropdown.dropdown__guests
            h3.label.input__label Dropdown Guests
            input(type="text" id="512" name="" placeholder="Сколько гостей").dropdown__input.input
            .dropdown__content.dropdown__content_hidden
                .dropdown-counter
                    .dropdown-counter__item
                        h3.dropdown-counter__title.label Взрослые
                        .dropdown-counter__counter
                            button.dropdown-counter__button.dropdown-counter__minus.dropdown-counter__button_blocked -
                            .dropdown-counter__value.label 0
                            button.dropdown-counter__button.dropdown-counter__plus +
                    .dropdown-counter__item
                        h3.dropdown-counter__title.label Дети
                        .dropdown-counter__counter
                            button.dropdown-counter__button.dropdown-counter__button_blocked.dropdown-counter__minus -
                            .dropdown-counter__value.label 0
                            button.dropdown-counter__button.dropdown-counter__plus +
                    .dropdown-counter__item
                        h3.dropdown-counter__title.label Младенцы
                        .dropdown-counter__counter
                            button.dropdown-counter__button.dropdown-counter__button_blocked.dropdown-counter__minus -
                            .dropdown-counter__value.label 0
                            button.dropdown-counter__button.dropdown-counter__plus +
                    .dropdown-counter__item.dropdown-counter__controls
                        button.btn.btn_minimal.dropdown-counter__clear-button.dropdown-counter__controls_hidden Очистить
                        button.btn.btn_minimal.dropdown-counter__submit-button Применить
    .card__fieldset
        .btn__send-wrapper
            button.btn.btn_send Подобрать номер
                i.material-icons.btn__send-icon arrow_forward