mixin room-info(number, price, lux)
    .room-info
        .room-info__number.room-number
            .room-number__number= number
            .room-number__lux= lux
        .room-info__price.room-price
            .room-price__number= price + '₽'
            .room-price__period &nbsp; в сутки

mixin room-info_bookup-title(number, price, lux)
    .room-info
        .room-info__number.room-number
            .room-number__number.room-number__number_24px= number
            .room-number__lux= lux
        .room-info__price.room-price
            .room-price__number= price + '₽'
            .room-price__period &nbsp; в сутки

